.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  font-family: 'Audiowide', cursive;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
}

p {
  font-family: 'Freckle Face', cursive;
  color: darkslategrey
}

.main-container {
 /*  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) ), url('./imgs/2pac.jpg'); */
  background-size: cover;
  background-position: center;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}

.inner-container {
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 10px;
  box-shadow: 7px 7px;
  
}

.inner-container {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

